@use "styles/" as *;

.container {
	@include objSize(40rem, 40rem, 0.5rem);
	@include displayFlex("flex", 0, column);
	background-color: white;
	padding: 1.5rem;
	overflow: hidden;
	.headerContainer {
		padding-bottom: 1rem;
		border-bottom: 1px solid $grey;
	}
	.assessmentContainer {
		@include displayFlex("flex", 0.4rem, column);
		height: 100%;
		margin-top: 1rem;
		overflow-y: auto;
		.assessmentItem {
			padding: 1rem;
			border: 1px solid $grey;
			border-radius: 0.5rem;
			cursor: pointer;
			&:hover {
				background-color: $grey;
			}
		}
	}
}
