@use "styles/" as *;

.editedInput {
	color: yellowgreen;
	input,
	textarea,
	p {
		color: yellowgreen;
	}
}

.hmoBtn {
	align-self: center;
	transform: translateY(0.8rem);
	width: 8rem;
}

.assessmentBtn {
	width: 10rem;
	align-self: center;
}
