@use "styles/" as *;

.container {
	padding: 0 4rem;
	padding-bottom: 5rem;
	.headerContainer {
		padding: 1rem 0;
		border-bottom: 1px solid $grey;
	}
	.formContainer {
		margin-top: 1rem;
		width: 100%;
	}
}
.bottomContainer {
	@include displayFlex("flex", 1rem);
	align-items: center;
	padding: 0 4rem;

	.errorMessage {
		color: red;
		font-weight: 400;
		font-size: 1rem;
		text-transform: uppercase;
	}

	.saveDetailsBtn {
		margin-left: auto;
	}
	.button {
		width: 10rem;
	}
}
